/* --------------- ROOT --------------- */

:root {
  /* new vars */

  --color-primary: #4423a5;
  --color-primary-dark: #2b1472;
  --color-primary-darker: #1d0f47;
  --color-primary-darker-tint: linear-gradient(#1d0f47ff, #1d0f4700);
  --color-text-heading: #e7f29f;
  --color-text-body: #f5f8e0;
  --color-secondary: #fca88f;
  --color-secondary-light: #f7ccbf;
  --color-tertiary: #a7abdd;
  --color-tertiary-light: #c6c9f1;
  --color-neutral: #81717a;

    --writing-color: var(--bs-white);
    --background-tint: rgba(39, 20, 94, 0.4);
    /* --bg-body-secondary: #161e27; */
    --bs-body-color: var(--color-text-body);
    /* --bs-body-color-rgb: 222, 226, 230; */
    --bs-body-bg: var(--color-primary-darker);
    /* --bs-body-bg-rgb: var(--color-primary-dark); */
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: #dee2e6;
    /* --bs-secondary-color-rgb: 222, 226, 230; */
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.2);
    /* --bs-tertiary-color-rgb: rgba(222, 226, 230, 0.2); */
    --bs-tertiary-bg: #2b3035;
    /* --bs-tertiary-bg-rgb: 43, 48, 53; */
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #adceff;
    /* --bs-link-color-rgb: 110, 168, 254; */
    /* --bs-link-hover-color-rgb: 139, 185, 254; */
    --bs-border-color: var(--color-primary-dark);
    /* --bs-border-color-translucent: rgba(255, 255, 255, 0.15); */
    --bs-list-group-active-bg: #000000;
    --bs-list-group-color: #ffffff;
    --bs-list-group-item-action: #fff;

    /* fuck rounded corners, all my homies hate rounded corners */
    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
}

html {
  font-size: 1.1em;
}

.btn-close {
  --bs-btn-close-color: var(--color-tertiary);
  --bs-btn-close-bg: var(--color-tertiary);
}

.hr {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  user-select: none;
}

.vr1 {
  background-image: url(/img/site/vr1.svg);
  background-repeat:repeat-y,no-repeat;
}

.vr2 {
  background-image: url(/img/site/vr2.svg);
  background-repeat:repeat-y,no-repeat;
}

.vr2 {
  background-image: url(/img/site/vr3.svg);
  background-repeat:repeat-y,no-repeat;
}

.bg-logos {
  background-color: var(--bg-body-secondary);
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0.1rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.nav-bg {
  background: var(--color-primary-dark);
}

.navbar-brand {
  color: var(--color-text-heading);
  font-style: italic;
}

.nav-link {
  --bs-navbar-nav-link-padding-x: 1em;
  color: var(--color-tertiary);
}

/* this is for SVG handwriting titles only, not icons */
.svg-color {
  animation: fade-in 0.5s;
  stroke: var(--color-text-heading);
}

/* this is for SVG icons */
.icon-color {
  fill: var(--color-tertiary);
  transition: transform .2s;
}

.icon-color:hover {
  fill: var(--color-tertiary-light);
  transition: all .1s ease;
}

i:hover {
  color: var(--color-tertiary-light);
  transition: all .1s ease;
}

.socials {
  color: var(--color-tertiary);
}

.socials:hover {
  cursor: pointer;
}

/* fonts */
body, button, .navbar, footer, h4, h5, h6 {
  /* https://fonts.google.com/specimen/Inter */
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
}

h1, h2, h3,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  /* https://fonts.google.com/specimen/Inter */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  /* margin: 0%; */
}

body {
  color: var(--color-tertiary-light);
}

h1, h2, h5 {
  color: var(--color-text-heading);
}

h3 {
  font-size: 1.5em;
}

strong {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* color: var(--color-text-body); */
}

a {
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-secondary-light);
  transition: all .1s ease;
}

/* SVG squiggle underline */
main a:not(.btn), footer a:not(.socials) {
  display:inline;
  background-image:url(/img/underline.svg),url(/img/underline-primary.svg);
  background-repeat:repeat-x,no-repeat;
  background-position: 0 105%;
  background-size:680px 4px,0 0;
  text-decoration: none;
}
main a:not(.btn):active,
main a:not(.btn):focus,
main a:not(.btn):hover {
  background-position:0 105%;
  background-image:url(/img/underline-primary.svg);
  text-decoration: none;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--color-secondary-light) !important;
  color: var(--color-primary) !important;
}

.btn-secondary {
  background-color: var(--color-tertiary);
  color: var(--color-primary-dark);
}

.btn-secondary:hover, .btn-secondary:active {
  background-color: var(--color-tertiary-light) !important;
  color: var(--color-primary-dark) !important;
}



.btn-link {
  color: var(--color-secondary);
  background-image:url(/img/underline.svg),url(/img/underline-primary.svg);
  background-repeat:repeat-x,no-repeat;
  background-position: 0 90%;
  background-size:680px 4px,0 0;
  text-decoration: none;
  transition: none;
}

.btn-link:hover, .btn-link:active, .btn-link:focus, .btn-link:focus-visible {
  color: var(--color-secondary-light) !important;
  background-position:0 90%;
  background-image:url(/img/underline-primary.svg);
  text-decoration: none;
  transition: none;
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
}

.custom-tooltip {
  --bs-tooltip-bg: none;
  --bs-tooltip-color: var(--color-text-heading);
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.01);
}




/* --------------- ANIMATIONS --------------- */

/* slide-in is used for logo marquee only */
@keyframes slide-in {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

.slide-in {
  animation: fade-zoom 0.5s; 
}

/* fade-zoom is used for logo marquee only */
@keyframes fade-zoom {
  0% {
    opacity: 0;
    transform: scale(90%);
  }
  100% {
    opacity: 1;
  }
}

.fade-zoom {
  animation: fade-zoom 0.5s;
}

/* fade-up is used for content blocks */
@keyframes fade-up {
  0% {
    opacity: 0;
    translate: 0 2.5em;
  }
  100% {
    opacity: 1;
  }
}

.fade-up {
  animation: fade-up 1s;
}





/* --------------- INDEX PAGE --------------- */

#indexVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  /* min-height: 100%; */
  opacity: 0.5;
  z-index: -1;
}

@media screen {
  .desktop {
    display: block;
  }
  /* .mobile {
    display: none;
  } */
}

@media screen and (max-width: 768px){
  .desktop {
    display: none;
  }
  /* .mobile {
    display: block;
  } */
}
    




/* --------------- WORK PAGE --------------- */

#logo-marquee {
  user-select: none;
  /* border-top: 1px solid var(--color-primary-dark);
  border-bottom: 1px solid var(--color-primary-dark); */
  /* background-color: var(--color-primary-dark); */
}

.logo-container {
  overflow: hidden;
  .slider {
    animation: slide-in 30s linear infinite;
    white-space: nowrap;
    margin-top: 1em;
    margin-bottom: 1em;
    .logos {
      display: inline-block;
      margin: 0px 0;
      .fab {
        padding-right: 2em;
        animation: fade-zoom 0.5s 
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

.card {
  --text-bg-color: var(--color-primary-dark);
  color: var(--color-tertiary-light);
  border: none;
  border-radius: 0;
  min-height: 20em;
  background-image: var(--card-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card a {
  text-decoration: none;
  color: inherit; 
}

.card p {
  background-color: var(--text-bg-color);
  position: absolute;
  bottom: 0;
  padding: 1em;
  margin: 0;
  width: 100%;
}

.card:hover {
  --text-bg-color: var(--color-primary);
  background-image: var(--card-img-hover);
  color: white;
}

#jumbo {
  --jumbo-bg-color: var(--color-primary-dark);
  height: 20em;
  position: relative;
  overflow: hidden; 
  color: var(--color-tertiary-light);
  background-image: var(--card-img);
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbo-title {
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 1em;
  margin: 1em;
  background: var(--jumbo-bg-color);
  background-size: cover;
  mask: url(/img/site/jumbo.svg);
  mask-size: cover;
  }

  #jumbo:hover {
    color: white;
    --jumbo-bg-color: var(--color-primary);
    background-color: #000000;
    background-image: var(--card-img-hover);
  }

  .value {
    background: var(--rect) no-repeat;
    background-size: contain;
    min-height: 350px;
    max-width: 25%
  }

  @media screen and (max-width: 1400px){
    h4 {
      font-size: 1.2em;
     }
    .desc {
      /* display: none; */
      font-size: 0.9em;
    }
  }

  @media screen and (max-width: 1080px){
    .value {
      max-width: 50%;
      min-height: 0;
      background-size: cover;
    }
    .desc {
      display: none;
    }
  }

  .yellow {
    color: var(--color-text-heading);
  }





/* --------------- ABOUT PAGE --------------- */

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: var(--color-tertiary);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 40px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: var(--color-primary-dark);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--color-tertiary);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li:last-of-type {
  margin-bottom: 0;
}

.timeline-date {
  color: var(--bs-body-color);
  font-weight: 100;
  margin-left: 0.3em;
}





/* --------------- CASE STUDY TEMPLATE --------------- */

.sticky-sidebar {
  position: sticky;
  top: 2em;
}

@media screen and (max-width: 768px){
.sticky-sidebar{
  display: none;
}
}

#case-title {
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 1em;
  margin: 1em;
  background: var(--color-primary-dark);
  }

#case-header {
  height: 25em;
  position: relative;
  margin-bottom: 4em;
  overflow: hidden;
  }

.list-group-item {
background-image: none !important;
color: var(--color-text-heading);
--bs-list-group-active-bg: var(--color-primary);
--bs-list-group-action-hover-bg: var(--color-primary);
--bs-list-group-active-border-color: var(--color-primary);
padding-left: 0.5em;
font-size: medium;
}

.list-group-item:hover {
color: white;
background: none;
}
