/* ----- ROOT VARIABLES ----- */

:root,
[data-bs-theme=light] {
  /* new vars */
  --writing-color: var(--bs-white);
  --background-tint: rgba(8,60,99,0.4);

  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #083c63;
  --bs-body-bg-rgb: 8, 60, 99;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: #dee2e6;
  --bs-secondary-color-tint: rgba(222, 226, 230, 0.8);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: #dee2e6;
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #adceff;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #637aa1;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f
}

[data-bs-theme=dark] {
  /* new vars */
    --writing-color: var(--bs-white);
    --background-tint: rgba(8,60,99,0.4);

    color-scheme: dark;
    --bg-body-secondary: #161e27;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #083c63;
    --bs-body-bg-rgb: 8, 60, 99;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: #dee2e6;
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #adceff;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #637aa1;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f

    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
}

.header-bg-gradient {
  background: linear-gradient(rgba(22,30,39,0.6), rgba(22,30,39,0.2) 40%, rgba(22,30,39,0));
}

.footer-bg-gradient {
  background: linear-gradient(rgba(22,30,39,0), rgba(22,30,39,0.6));
}

hr {
margin: 0;
}

.bg-logos {
  background-color: var(--bg-body-secondary);
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0.1rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

/* this is for SVG handwriting titles only, not icons */
.svg-color {
  stroke: var(--bs-secondary-color-tint);
}

/* this is for SVG icons */
.icon-color {
  fill: var(--bs-secondary-color);
}

/* fonts */
body, button {
  /* https://fonts.google.com/specimen/Rubik */
  font-family: "Rubik", system-ui;
}
h1, h2, h3, h4, h5, h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6,
.navbar, footer {
  /* https://fonts.google.com/specimen/Anonymous+Pro */
  font-family: "Anonymous Pro", system-ui;
  margin: 0;
}

h2, h3, h4 a {
  color: white;
}

h2, h3, h4 a:hover {
  color: var(--bs-link-hover-color);
  transition: all .2s ease;
}

.list-group, .list-group-item {
  border: none;
  border-radius: 0;
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
}

/* ----- INDEX PAGE ----- */

.index-background {
  /* background: var(--background-tint); */
  background: url("/img/stef.png") no-repeat;
  background-position: center;
  background-size: cover;
}

/* #loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
} */
  
/* #loading-image {
  z-index: 100;
} */

/* #indexVideo {
  position: fixed;
  right: 0%;
  top: 0%;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -1;
} */

/* .test-text {
    position: relative;
    top: -10em;
    left: 8em;
    transform: rotate(8deg);
} */



/* ----- CASE STUDY TEMPLATE ----- */

.sticky-sidebar {
    position: sticky;
    top: 6em;
}

#case-title {
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    padding: 6em 0em 0.5em 1em;
    background: linear-gradient(0deg, var(--bs-body-bg), rgba(0,0,0,0));
    }

#case-header {
    height: 25em;
    position: relative;
    margin-bottom: 4em;
    overflow: hidden;
    }



/* ----- WORK PAGE ----- */

/* Container styles */
.logo-container {
  overflow: hidden;
  .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
    margin-top: 1em;
    margin-bottom: 1em;
    .logos {
      /* width: 100%; */
      display: inline-block;
      margin: 0px 0;
      .fab {
        padding-right: 2em;
        animation: fade-in 0.5s 
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

/* .slider:hover {
  animation-play-state: paused;
} */

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}