/* --------------- WORK PAGE --------------- */

h2 {
  padding-top: 1em;
}

h2:first-of-type {
  padding-top: inherit;
}

#logo-marquee {
    user-select: none;
    /* border-top: 1px solid var(--color-primary-dark);
    border-bottom: 1px solid var(--color-primary-dark); */
    /* background-color: var(--color-primary-dark); */
  }
  
  .logo-container {
    overflow: hidden;
    .slider {
      animation: slide-in 30s linear infinite;
      white-space: nowrap;
      margin-top: 1em;
      margin-bottom: 1em;
      .logos {
        display: inline-block;
        margin: 0px 0;
        .fab {
          padding-right: 2em;
          animation: fade-zoom 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
      }
    }
  }
  
  .card {
    --text-bg-color: var(--color-primary-dark);
    color: var(--color-tertiary-light);
    border: none;
    border-radius: 0;
    min-height: 20em;
    background-image: var(--card-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .card a {
    text-decoration: none;
    color: inherit; 
  }
  
  .card p {
    background-color: var(--text-bg-color);
    position: absolute;
    bottom: 0;
    padding: 1em;
    margin: 0;
    width: 100%;
  }
  
  .card:hover {
    --text-bg-color: var(--color-primary);
    background-image: var(--card-img-hover);
    color: white;
  }
  
  #jumbo {
    --jumbo-bg-color: var(--color-primary-dark);
    height: 20em;
    position: relative;
    overflow: hidden; 
    color: var(--color-tertiary-light);
    background-image: var(--card-img);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #jumbo-title {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 1em;
    margin: 1em;
    background: var(--jumbo-bg-color);
    background-size: cover;
    mask: url(/img/site/jumbo.svg);
    mask-size: cover;
    }
  
  #jumbo:hover {
    color: white;
    --jumbo-bg-color: var(--color-primary);
    background-color: #000000;
    background-image: var(--card-img-hover);
  }
  
  .value {
    background: var(--rect) no-repeat;
    background-size: contain;
    min-height: 350px;
    max-width: 25%
  }
  
  @media screen and (max-width: 1400px){
    h4 {
      font-size: 1.2em;
      }
    .desc {
      /* display: none; */
      font-size: 0.9em;
    }
  }
  
  @media screen and (max-width: 1080px){
    .value {
      max-width: 50%;
      min-height: 0;
      background-size: cover;
    }
    .desc {
      display: none;
    }
  }
  
  .yellow {
    color: var(--color-text-heading);
  }

  /* --------------- CASE STUDY TEMPLATE --------------- */

.sticky-sidebar {
  position: sticky;
  top: 2em;
}

.mobile-only{
  display: none;
}

@media screen and (max-width: 768px){
  .sticky-sidebar{
    display: none;
  }

  .desktop-only{
    display: none;
  }

  .mobile-only{
    display: block;
  }
}

#case-title {
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 1em;
  margin: 1em;
  background: #1e192ef5;
  }

#case-header {
  height: 25em;
  position: relative;
  margin-bottom: 4em;
  overflow: hidden;
  }

.list-group-item {
background-image: none !important;
color: var(--color-text-heading);
--bs-list-group-active-bg: var(--color-primary);
--bs-list-group-action-hover-bg: var(--color-primary);
--bs-list-group-active-border-color: var(--color-primary);
padding-left: 0.5em;
font-size: medium;
}

.list-group-item:hover {
color: white;
background: none;
}